<template>
  <div class="page-search">
    <hy-form v-bind="searchFormConfig" v-model="formData">
      <template #header >
        <h1 class="header">高级检索</h1>
      </template>
      <template #footer>
        <div class="handleBt">
          <el-button @click="handleResetClick">
            <el-icon><Refresh /></el-icon>重置
          </el-button>
          <el-button @click="handleQueryClick" type="primary">
            <el-icon><Search /></el-icon>搜索
          </el-button>
        </div>
      </template>
    </hy-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import HyForm from '@/base-ui/form';
import { emit } from 'process';

export default defineComponent({
  components: {
    HyForm
  },
  props: {
    searchFormConfig: {
      type: Object,
      required: true
    }
  },
  emits: ['resetBtnClick', 'queryBtnClick'],
  setup(props, { emit }) {
    // 双向绑定中的属性应该是有配置文件中的field决定
    // 优化一：formDate中的属性应该动态来决定
    const formItems = props.searchFormConfig.formItems ?? []
    const formOriginData: any = {}
    for(const item of formItems) {
      formOriginData[item.field] = ''
    }
    const formData = ref(formOriginData)

    // 优化二：当点击重置按钮时
    const handleResetClick = () => {
      // 1.重置方法一：
      // for(const key in formOriginData) {
      //   formData.value[`${key}`] = formOriginData[key]
      // }

      // 2.重置方法二：
      formData.value = formOriginData
      emit('resetBtnClick')
    }

    // 优化三：当点击搜索按钮时
    const handleQueryClick = () => {
      emit('queryBtnClick', formData.value)
    }

    return {
      formData,
      handleResetClick,
      handleQueryClick
    }
  }
})
</script>

<style scoped lang="less">
.header {
  padding-top: 20px;
}
.handleBt {
  text-align: right;
  padding: 0 50px 20px 0;
}
</style>
