<template>
  <div class="dashboard">
    <el-row gutter="10">
      <el-col :span="7">
        <hy-card title="分类商品数量(饼图)">
          <pie-echart :pieData="categoryGoodsCount"></pie-echart>
        </hy-card>
      </el-col>
      <el-col :span="10">
        <hy-card title="不同城市商品销量">
          <map-echart :mapData="addressGoodsSale"></map-echart>
        </hy-card>
      </el-col>
      <el-col :span="7">
        <hy-card title="分类商品数量(玫瑰图)">
          <role-echart :roleData="categoryGoodsCount"></role-echart>
        </hy-card>
      </el-col>
    </el-row>

    <el-row gutter="10" class="content-row">
      <el-col :span="12">
        <hy-card title="分类商品的销量">
          <line-echart v-bind="categoryGoodsSale"></line-echart>
        </hy-card>
      </el-col>
      <el-col :span="12">
        <hy-card title="分类商品的收藏">
          <bar-echart v-bind="categoryGoodsFavor"></bar-echart>
        </hy-card>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { useStore } from '@/store'
import HyCard from '@/base-ui/card'
import {
  PieEchart,
  RoleEchart,
  LineEchart,
  BarEchart,
  MapEchart
} from '@/components/page-echarts'

export default defineComponent({
  name: 'dashboard',
  components: {
    HyCard,
    PieEchart,
    RoleEchart,
    LineEchart,
    BarEchart,
    MapEchart
  },
  setup() {
    const store = useStore()
    store.dispatch('dashboard/getDashboardDataAction')

    // 获取数据
    const categoryGoodsCount = computed(() => {
      return store.state.dashboard.categoryGoodsCount.map((item) => {
        return {name: item.name, value: item.goodsCount}
      })
    })

    const categoryGoodsSale = computed(() => {
      const goodsCount: any[] = []
      const name: string[] = []
      const categoryGoodsSale = store.state.dashboard.categoryGoodsSale
      for(const item of categoryGoodsSale) {
        goodsCount.push(item.goodsCount)
        name.push(item.name)
      }
      return {goodsCount, name}
    })

    const categoryGoodsFavor = computed(() => {
      const goodsFavor: any[] = []
      const name: string[] = []
      const categoryGoodsFavor = store.state.dashboard.categoryGoodsFavor
      for(const item of categoryGoodsFavor) {
        goodsFavor.push(item.goodsFavor)
        name.push(item.name)
      }
      return { goodsFavor, name }
    })

    const addressGoodsSale = computed(() => {
      return store.state.dashboard.addressGoodsSale.map((item) => {
        return { name: item.address, value: item.count }
      })
    })

    return {
      categoryGoodsCount,
      categoryGoodsSale,
      categoryGoodsFavor,
      addressGoodsSale
    }
  }
})
</script>

<style scoped lang="less">
  .content-row {
    border-top: 20px solid #f0f2f5;
  }
</style>
