<template>
  <div class="base-echart">
    <div
      :style="{width: width, height: height}"
      ref="echartDivRef"
    ></div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, defineProps, withDefaults, watchEffect } from 'vue';
import * as echarts from 'echarts'
import { EChartsOption } from 'echarts';
// import useEcharts from '../hooks/useEcharts';

import chinaMapData from '../data/china.json'
echarts.registerMap('china', chinaMapData)

// 定义props
const prop = withDefaults(
  defineProps<{
    options: EChartsOption,
    width?: string,
    height?: string
  }>(),
  {
    width: '100%',
    height: '400px'
  }
)

const echartDivRef = ref<HTMLElement>()
onMounted(() => {
  // const { setOptions } = useEcharts(echartDivRef.value!)
  // setOptions(prop.options)

  const echartInstance = echarts.init(echartDivRef.value!)
  watchEffect(() => {
    echartInstance.setOption(prop.options)
  })

  window.addEventListener('resize', () => {
    echartInstance.resize()
  })


})

</script>

<style scoped>

</style>
