<template>
  <div class="page-modal">
    <el-dialog v-model="dialogVisible" title="新建用户" width="25%" center>
      <hy-form
        v-bind="modalConfig"
        v-model="formDate"
      ></hy-form>
      <slot></slot>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button @click="handleConfirmClick" type="primary">确认</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import { useStore } from '@/store'
import HyForm from '@/base-ui/form'

export default defineComponent({
  components: {
    HyForm
  },
  props: {
    modalConfig: {
      type:Object,
      required: true
    },
    defaultInfo: {
      type: Object,
      default: () => ({})
    },
    otherInfo: {
      type: Object,
      default: () => ({})
    },
    pageName: {
      type: String,
      required: true
    }
  },
  setup (props) {
    const store = useStore()
    const dialogVisible = ref(false)
    const formDate = ref<any>({})
    watch(
      () => props.defaultInfo,
      (newValue) => {
        for(const item of props.modalConfig.formItems) {
          formDate.value[`${item.field}`] = newValue[`${item.field}`]
        }
      })

      // 点击确定按钮时的逻辑
      const handleConfirmClick = () => {
        dialogVisible.value = false
        if(Object.keys(props.defaultInfo).length) {
          // 编辑
          store.dispatch('system/editPageDataAction', {
            pageName: props.pageName,
            editData: { ...formDate.value, ...props.otherInfo },
            id: props.defaultInfo.id
          })
        } else {
          // 新建
          store.dispatch('system/createPageDataAction', {
            pageName: props.pageName,
            createData: { ...formDate.value, ...props.otherInfo }
          })
        }
      }

    return {
      dialogVisible,
      formDate,
      handleConfirmClick
    }
  }
})
</script>

<style scoped>

</style>
