<template>
  <div class="nav-header">
    <i class="fold" @click="handleFoldClick">
      <el-icon v-if="!isFold"><Fold /></el-icon>
      <el-icon v-else><Expand /></el-icon>
    </i>

    <div class="content">
      <hy-breadcrumb :breadcrumbs="breadcrumbs" />
      <nav-user-info />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import navUserInfo from './nav-userInfo.vue'
import HyBreadcrumb, { IBreadcrumb } from '@/base-ui/breadcrumb'
import { pathMapToBreadcrumb } from '@/utils/map-menus'
import { useStore } from '@/store'
import { useRoute } from 'vue-router'

export default defineComponent({
  components: {
    navUserInfo,
    HyBreadcrumb
  },
  emits: ['foldChange'],
  setup (props, { emit }) {
    let isFold = ref(false)
    const handleFoldClick = () => {
      isFold.value = !isFold.value
      emit('foldChange', isFold.value)
    }

    // 面包屑数据 { name, path }
    const store = useStore()
    const breadcrumbs = computed(() => {
      const userMenus = store.state.login.userMenuInfo
      const route = useRoute()
      const currentPath = route.path
      return pathMapToBreadcrumb(userMenus, currentPath)
    })

    return {
      isFold,
      handleFoldClick,
      breadcrumbs
    }
  }
})
</script>

<style scoped lang="less">
.nav-header {
  display: flex;
  width: 100%;
  .fold {
    font-size: 30px;
    cursor: pointer;
  }
  .content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }
}
</style>
