<template>
  <div class="line-echart">
    <base-echart :options="option"></base-echart>
  </div>
</template>

<script setup lang="ts">
  import { computed, defineProps } from 'vue';
  import BaseEchart from '@/base-ui/echart'

  const props = defineProps<{
    goodsCount: any[]
    name: string[]
  }>()

  const option = computed(() => {
    return {
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: props.name
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          data: props.goodsCount,
          type: 'line',
          areaStyle: {}
        }
      ]
    }
  })

</script>

<style scoped>

</style>
