<template>
  <div class="role-echart">
    <base-echart :options="option"></base-echart>
  </div>
</template>

<script setup lang="ts">
  import { computed, defineProps } from 'vue';
  import { IEchartData } from '../types'
  import BaseEchart from '@/base-ui/echart';

  const props = defineProps<{
    roleData: IEchartData[]
  }>()

  const option = computed(() => {
    return {
      legend: {
        top: 'bottom'
      },
      toolbox: {
        show: true,
        feature: {
          mark: { show: true },
          dataView: { show: true, readOnly: false },
          restore: { show: true },
          saveAsImage: { show: true }
        }
      },
      series: [
        {
          name: 'Nightingale Chart',
          type: 'pie',
          radius: [10, 120],
          center: ['50%', '50%'],
          roseType: 'area',
          itemStyle: {
            borderRadius: 8
          },
          data: props.roleData
        }
      ]
    }
  })

</script>

<style scoped>
</style>
