<template>
  <div class="login-account">
    <el-form label-width="60px" :rules="rules" :model="account" ref="formRef">
      <el-form-item label="账号" prop="name" >
        <el-input v-model="account.name" />
      </el-form-item>
      <el-form-item label="密码" prop="password" >
        <el-input v-model="account.password" show-password />
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import { rules } from '../config/account-config'
import { ElForm } from 'element-plus'
import localCache from '@/utils/cache'
import { useStore } from 'vuex'

export default defineComponent({
  setup () {
    const store = useStore()

    const account = reactive({
        name: localCache.getCache('name') ?? '',
        password: localCache.getCache('password') ?? ''
      }
    )
    const formRef = ref<InstanceType<typeof ElForm>>()
    const accountLoginAction = (isKeepPassword: boolean) => {
      formRef.value?.validate((valid) => {
        if(valid) {
          // 1.判断是否需要记住密码
          if(isKeepPassword) {
            localCache.setCache('name', account.name)
            localCache.setCache('password', account.password)
          } else {
            localCache.deleteCache('name')
            localCache.deleteCache('password')
          }

          // 2.真正实现登录操作
          store.dispatch('login/accountLoginAction', { ...account })
        }
      })
    }

    return {
      account,
      rules,
      formRef,
      accountLoginAction
    }
  }
})
</script>

<style scoped>

</style>
