<template>
  <div class="login-phone">
    <el-form>
      <el-form-item label="手机号">
        <el-input v-model="phone.number" />
      </el-form-item>
      <el-form-item label="验证码">
        <div class="get-code">
          <el-input v-model="phone.code" />
          <el-button type="primary">获取验证码</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'
import { useStore } from 'vuex'

export default defineComponent({
  setup () {
    const store = useStore()

    const phone = reactive({
      number: '',
      code: ''
    })

    const phoneLoginAction = () => {
      store.dispatch('login/phoneLoginAction')
    }

    return {
      phone,
      phoneLoginAction
    }
  }
})
</script>

<style scoped lang="less">
  .get-code {
    display: flex;
    .el-button {
      margin-left: 8px;
    }
  }
</style>
