<template>
  <div class="page-content">
    <hy-table
      :listDate="usersList"
      :listCount="usersCount"
      v-model:page="pageInfo"
      v-bind="contentTableConfig"
    >
      <!-- header中的插槽 -->
      <template #headerHandle>
        <el-button
          v-if="isCreate"
          type="primary"
          @click="handleNewClick"
        >
          {{contentTableConfig.createName}}
        </el-button>
      </template>

      <!-- content中的插槽 -->
      <template #status="scope">
        <el-button
          plain
          size="small"
          :type="scope.row.enable ? 'success' : 'danger'"
        >
          {{ scope.row.enable ? '启用' : '禁用' }}
        </el-button>
      </template>
      <template #createAt="scope">
        <span>{{ $filters.formatTime(scope.row.createAt) }}</span>
      </template>
      <template #updateAt="scope">
        <span>{{ $filters.formatTime(scope.row.updateAt) }}</span>
      </template>
      <template #handler="scope">
        <el-link
          v-if="isUpdate"
          type="primary"
          class="handle-edit"
          @click="handleEditClick(scope.row)"
        >
          <el-icon><Edit /></el-icon>编辑
        </el-link>
        <el-link
          v-if="isDelete"
          type="primary"
          @click="handleDeleteClick(scope.row)"
        >
          <el-icon><DeleteFilled /></el-icon>删除
        </el-link>
      </template>

      <!-- 在page-content中动态插入剩余的插槽 -->
      <template
        v-for="item in otherPropSlots"
        :key="item.prop"
        #[item.slotName]="scope"
      >
        <template v-if="item.slotName">
          <slot :name="item.slotName" :row="scope.row"></slot>
        </template>
      </template>
    </hy-table>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref, watch } from 'vue'
import { useStore } from '@/store'
import HyTable from '@/base-ui/table'
import { usePermission } from '@/hooks/use-permission'

export default defineComponent({
  components: {
    HyTable
  },
  props: {
    contentTableConfig: {
      type: Object,
      required: true
    },
    pageName: {
      type: String,
      required: true
    }
  },
  emits: ['newBtnClick', 'editBtnClick'],
  setup (props, { emit }) {
    const store = useStore()

    // 0.获取操作的权限
    const isCreate = usePermission(props.pageName, 'create')
    const isUpdate = usePermission(props.pageName, 'update')
    const isDelete = usePermission(props.pageName, 'delete')
    const isQuery = usePermission(props.pageName, 'query')

    // 1.双向绑定pageInfo
    const pageInfo = ref({ currentPage: 1, pageSize: 10 })
    watch(pageInfo, () => getPageData())

    // 2.发送网络请求
    const getPageData = (queryInfo: any = {}) => {
      if(!isQuery) return
      store.dispatch('system/getPageListAction', {
        pageName: props.pageName,
        queryInfo: {
          offset: (pageInfo.value.currentPage - 1) * pageInfo.value.pageSize,
          size: pageInfo.value.pageSize,
          ...queryInfo
        }
      })
    }
    getPageData()

    // 3.从vuex中获取数据
    const usersList = computed(() =>
      store.getters['system/getPageListDate'](props.pageName)
    )
    const usersCount = computed(() =>
      store.getters['system/getPageListCount'](props.pageName)
    )

    // 4.获取其他的动态插槽的名称
    const otherPropSlots = props.contentTableConfig.propList.filter((item: any) => {
      if(item.slotName === 'status') return false
      if(item.slotName === 'createAt') return false
      if(item.slotName === 'updateAt') return false
      if(item.slotName === 'handler') return false
      return true
    })

    // 5.删除/编辑/新建操作
    const handleDeleteClick = (item: any) => {
      store.dispatch('system/deletePageDataAction', {
        pageName: props.pageName,
        id: item.id
      })
    }
    const handleNewClick = () => {
      emit('newBtnClick')
    }
    const handleEditClick = (item: any) => {
      emit('editBtnClick', item)
    }

    return {
      isCreate,
      isUpdate,
      isDelete,
      usersList,
      usersCount,
      pageInfo,
      getPageData,
      otherPropSlots,
      handleDeleteClick,
      handleNewClick,
      handleEditClick
    }
  }
})
</script>

<style scoped lang="less">
.handle-edit {
  margin-right: 20px;
}
</style>
